# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

/.claude

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

/cloudfare
/.open-next
/.wrangler

# typescript
*.tsbuildinfo
next-env.d.ts


pnpm-workspace.yaml

play.py
cbt_question_prompt.md
lib/courses/csc312-system-analysis/fixed_questions.py
lib/courses/csc312-system-analysis/lecture-3-fixed_new.ts
.impeccable/
d.md
.playwright-mcp/
setup-modal.png
